.git
.github
.idea
.vscode
vendor
node_modules
npm-debug.log
yarn-error.log
.env
.env.example
storage/*.key
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/views/*.php
storage/framework/sessions/*
storage/framework/testing/*
public/hot
public/storage
docker/
